body{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}
h1{
    font-size: 7em;
    color: white;
    width: 50%;
    display: flex;
    align-items:flex-end;
    justify-content: left;
}
button{
    text-decoration: underline;
    font-size: 1.5em;
    cursor: pointer;
    border: none;
    border-radius: 2em;
    background-color: white;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 8px;
    padding-bottom: 11px;
    height: 15%;
    margin-top: 8%;
    margin-left: 28%;
    border: 2px solid transparent; 
}
button:hover{
    border: 2px solid rgb(255, 58, 58);
    border-radius: 1em;
}
.arrow{
    color: rgb(62, 146, 53);
    margin-bottom: -2%;
    margin-right: -1%;
}
.arrow:hover{
    color:white;
}
.start-paragraph{
    font-size: 1.4em;
    color: white;
    font-weight: 200;
    text-align: left;
}
.slogan{
    font-size: 2.3em;
    color: white;
    margin-top: -4%;
    margin-bottom: 2%;
    display: flex;
    align-items:flex-end;
    justify-content: left;
}
.slogan-sub-content{
    font-size: 2em;
    color: white;
    margin-bottom: 2%;
    font-weight: 200;
    text-align: left;
    display: flex;
    align-items:flex-end;
    justify-content: left;
}
.content {
    height: 100vh;
}
.Title{
    font-size: 8em;
    color: white;
    font-weight: 600;
    position: absolute; 
    top: 40%;
    left: 37%;
    /*font-size: 8em;
    color: white;
    font-weight: 600;
    text-align: center;
    display: flex; 
    align-items: center; 
    justify-content: center;*/
}
.start{
    z-index: 1;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    /*background-image: url("./images/bgImg1.jpg");*/
    background-size: 100%;
    justify-content: center;
}
.container{
    width: 100%;
    display: flex;
}
.start-content{
    top:0;
    width: 92vw;
    height: 75vh;
    background-color: #03266A;
    padding-top: 0%;
    padding-left: 4%;
    padding-right: 4%;
    display: flex;
    flex-direction: column;
}
.logo{
    width: 30%;
    z-index: 0;
    left: 70%;
}
.about-data{
    margin-left: 4%;
    display: flex;
    width: 90vw;
    text-align: center;
    display: flex; 
    align-items: center; 
    justify-content: center;
}
.sub-heading{
    font-size: 1.6em;
    font-weight: bold;
    width: 50%;
}
.about-second-data{
    width: 40%;
    padding: 5%;
    
}
.content{
    font-size: 1.4em;
}
.image-div{
    margin-top: -44%;
    margin-left: 6%;
    display: flex; 
    align-items: center; 
    justify-content: center;
}
.food-container, .outdoors-container{
    display: flex;
    width: 50%;
}
.food{
    margin-left: -1%;
}
.outdoors{
    margin-left: -1%;
}
.image-container{
    padding: 8px;
}
.content-images{
    width: 160px;
    border-radius: 0.5em;
}
.place{
    font-weight: bold;
    margin-bottom: -10%;
}
/*.cities-title{
    font-weight: 600;
    font-size: 4em;
    text-align: center;
    display: flex; 
    align-items: center; 
    justify-content: center;
    margin-top: 10%;
}
.cities{
    margin-top: 6%;
    margin-left: 2.4%;
    display: flex; 
}
.city-image{
    border-radius: 1.4em;
    width: 90%;
    position: relative;
    z-index: 1;
}
.overlay{
    position: absolute;
    border-radius: 1.4em;
    width: 21.5%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    z-index: 2;
}*/
.cities-title {
    font-weight: 600;
    font-size: 4em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
  }
  
  .cities {
    margin-top: 6%;
    margin-left: 2.4%;
    display: flex;
  }
  
  .card {
    width: 25%;
    margin-right: 1.6%;
  }
  
  .image-container {
    position: relative;
  }
  
  .city-image {
    border-radius: 1.4em;
    width: 100%;
  }
  
  .overlay {
    position: absolute;
    top: 1.6%;
    left: 2.1%;
    width: 95.8%;
    height: 96%;
    border-radius: 1.4em;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    align-items:flex-end;
    justify-content: left;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .card:hover .overlay {
    opacity: 1;
  }
  
  .overlay p {
    font-size: 2em;
    font-weight: bold;
    text-align: left;
    margin-bottom: 16%;
    margin-left: 6%
  }

  .bottom-space p{
    text-align: right;
    margin-top: 8%;
    padding-right: 2%;
  }

